################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/StudySimulation/v15/Server/sqlite3
/.vs/StudySimulation/v15
